@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    }
    ul {color:black}
    #a {color: red;}
    #b {color: orange;}
    #c {color: yellow}
    #d {color: yellowgreen;}
    #e {color: turquoise;}
    #f {color:violet}
    .pizza {color: deeppink;}
